/* Variables para Titulo Principal Inicio*/

$font-title: "Roboto", sans-serif;

/* Pagina Principal */

.contenedor-principal {
  background-color: #151414;
}

.contenido-principal {
  background-image: url("../fotos/fondoinicio.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  max-height: 100%;
  opacity: 90%;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
  .titulo-principal {
    color: rgb(255, 218, 148);
    font-family: $font-title;
    font-size: 6rem;
    font-weight: 500;
    z-index: 1;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
  }
  .boton-principal {
    font-size: 2rem;
    padding: 5px 8px;
    border-radius: 10px;
    margin-top: 30px;
    background-color: rgb(255, 218, 148);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin-bottom: 2rem;
    transition: all;
    &:hover {
      background: linear-gradient(
        to bottom,
        rgba(195, 195, 195, 0.931),
        rgba(192, 192, 192, 0.972)
      );
    }
  }
}

.navbar-links li a {
  transition: 0.5s;
}
.navbar-links li a:hover {
  color: rgba(192, 192, 192, 0.972);
}
